= render "header"
.new-things
  .form
    = form_for @thing do |f|
      .form__text
        ・買った物の名前を入力してください
      = f.text_field :name, class: 'form__name', placeholder: '会計ソフト'
      .form__text
        ・買った物の値段を入力してください
      = f.text_field :price, class: 'form__price', placeholder: '¥ 50,000'
      = f.submit '更新', class: 'form__submit'