= render "things/header"
.body
  .body__frame
    - @things.each do |thing|
      .body__frame__content
        .body__frame__content__date
          = thing.created_at.strftime("%m-%d")
        .body__frame__content__name
          = thing.name
        .body__frame__content__price
          ¥
          = thing.price
        - if user_signed_in? && current_user.id == @user.id
          .body__frame__content__link
            = link_to  "/things/#{thing.id}", method: :delete,class:"delete-btn" do
              削除
            = link_to  "/things/#{thing.id}/edit", method: :get,class: "edit-btn" do
              編集
    .body__frame__total
      .body__frame__total__text
        支出合計
      .body__frame__total__price
        ¥
        = Thing.all.sum(:price)
  = paginate(@things)
    


